.wrapper{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.birinchi{
    width: 28%;
    height: 100vh;
    position: relative;
    top: -20px;
}


.ikkinchi{
    width: 72%;
    height: 100vh;
}
.foravatar{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatar{
    width: 300px;
    height: 300px;
    margin-top: -40px;
    border-radius: 50%;
}
.aboutcoder{
    width: 100%;
    height: 54vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.info{
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
#des{
    width: 70%
}

.edit-p{
    height: 31px;
    background: rgb(239, 245, 250);
    border: 1px solid rgb(173, 173, 173);
    border-radius: 4px;
}
.lchalar{
    list-style: none;
}
.title-line{
    width: 92%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.manba{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 96%;
    flex-wrap: wrap;
}

.followchalar:hover{
    color: rgb(100, 167, 255);
}
.ler{
    list-style: none;
    text-decoration: none;
    color: black;
}
#card{
    width: 435px;
    margin-top: 10px;
    display: flex;
    align-items: center;    
    justify-content: space-between;
    flex-direction: column;
    height: 150px;  
}
#pub{
    width: 50px;
    height: 20px;
    border: 1px solid rgb(192, 192, 192);
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: none;
}
#fir{
    width: 92%;
}
.fordes{
    width: 100%;
}
.forlan{
    width: 100%;
    display: flex;
    align-items: center;
}
.forlan>p{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 5px;
}
.JavaScript{
    width: 13px;
    height: 13px;
    background: yellow;
    border-radius: 50%;
}
.CSS{
    width: 13px;
    height: 13px;
    background: purple;
    border-radius: 50%;
}
.HTML{
    width: 13px;
    height: 13px;
    background: rgb(255, 123, 0);
    border-radius: 50%;
}
.pinnedCard-btnGroup{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnss{
    width: 5%;
}
.main{
    width: 100%;
    height: 100vh;
}

@media(max-width:1270px){
        .manba{
            width: 100%;
            height: 50vh;
        }
        #card{
            width: 350px;
            height: 140px;
        }
        .pinnedCard-btnGroup{
            position: relative;
            top: 150px;
        }
        .foravatar>img{
            width: 220px;
            height: 220px;
        }
      


       
}

@media(max-width:1035px){
    .wrapper{
        flex-direction: column;
        height: 100vh;
    }
    .foravatar>img{
        width: 220px;
        height: 220px;
        position: relative;
        top: 40px;    
    }

    .birinchi{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .foravatar>img{
        width: 250px;
        height: 250px;
        margin-top: 10px;
    }
    .edit-p{
        height: 40px;
    }
    .userm{
        width: 87%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #all{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .forbio{
        width: 100%;
        position: relative;
        left: 100px;
    }
    .btns{
        left: 20px;
        position: relative;
    }
    .forbio>p{
        text-align: center;
        font-size: 20px;
    }
    .wrapper{
        height: 250vh;
    }
    .ikkinchi{
        width: 100%;
        height: auto;
    }
    #card{
        width: 400px;
        height: 200px;
        }
    .manba{
        width: 100%;
        height: 120vh;
    }

    .pinnedCard-btnGroup{
        top: 4px;
    }
}   
@media(max-width:1000px){
    #card{
        width:80%;
        height: 150px;
    }
    .forbio{
        width: 100%;
        position: relative;
        left: 50px;
    }
    .btns{
        left: 20px;
        position: relative;
    }
    .forbio>p{
        text-align: center;
        font-size: 15px;
    }   
    .btns>button{
        margin-left: 10px;
    }
    .wrapper{
        height: 200vh;
    }
    .ikkinchi{
        height: 100vh;
    }
    .pinnedCard-btnGroup{
        position: relative;
        top: 250px;
    }
    .manba{
        height: 110vh;
    }
}

@media(max-width:700px){
        #card{
        width:80%;
        height: 120px;
    }
    .userm{
        position: relative;
        left: -20px;
    }
    .forbio{
        width: 100%;
        position: relative;
        left: 15px;
    }
    .btns{
        left: -5px;
        position: relative;
    }
    .forbio>p{
        text-align: center;
        font-size: 18px;
    }   
    .btns>button{
        margin-left: 10px;
    }
    

}
@media(max-width:650px){
    .userm{
        position: relative;
        left: -28px;
    }
    .forbio{
        width: 100%;
        position: relative;
        left: 12px;
    }
    .btns{
        left: -5px;
        position: relative;
    }
    .forbio>p{
        text-align: center;
        font-size: 18px;
    }   
    .btns>button{
        margin-left: 10px;
    }
    .pinnedCard-btnGroup{
        width: 20%;
        left: 40%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

}
.load{
    position: absolute;
    top: 300px;
    left: 50%;
}

